[user]
	name = Andrew Clarke
	email = 74689127+apscandy@users.noreply.github.com
	signingkey = ~/.ssh/git_signing_key.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[core]
    editor = nvim
    excludesfile = ~/.gitignore_global
[pull]
    ff = only
[merge]
	ff = no
[column]
	ui = auto
[branch]
	sort = -committerdate
[alias]
    s = status -sb   # Short status with current branch
    swc = switch -c  # Create new branch
    sw = switch      # Change branch

    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
    lgf = "log --graph --color=always --abbrev-commit --decorate --date=relative --pretty=medium"
    
    # ---------- Branching ----------
    # Conventional commits based branches
    # https://www.youtube.com/watch?v=Hlp-9cdImSM
    # https://www.conventionalExtra Bold Italiccommits.org/en/v1.0.0/

    feat = "!f() { git switch -c feature/$1 && git switch -c private/feature/$1; }; f"
    feat-squash = "!f() { git switch feature/$1 && git merge --ff --squash private/feature/$1; }; f"
    
    fix = "!f() { git switch -c fix/$1 && git switch -c private/fix/$1; }; f" 
    fix-squash = "!f() { git switch fix/$1 && git merge --ff --squash private/fix/$1; }; f"
    
    hotfix = "!f() { git switch -c hotfix/$1 && git switch -c private/hotfix/$1; }; f"
    hotfix-squash = "!f() { git switch hotfix/$1 && git merge --ff --squash private/hotfix/$1; }; f"  
    
    refactor = "!f() { git switch -c refactor/$1 && git switch -c private/refactor/$1; }; f" 
    refactor-squash = "!f() { git switch refactor/$1 && git merge --ff --squash private/refactor/$1; }; f" 
    
    chore = "!f() { git switch -c chore/$1 && git switch -c private/chore/$1; }; f" 
    chore-squash = "!f() { git switch chore/$1 && git merge --ff --squash private/chore/$1; }; f"
    # ---------- End branching ----------
